*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
    
}
 body{
    background-color: #303030;
 }

 
.head{
    background-image: url(img/unsplash_xSmXFcqPA8A.png);
    background-size: 100% 100%;
    display: flex;
    max-width: 100%;
    height: 80vh;
    flex-wrap: wrap;
    gap: 10rem;
}

.apresentar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    z-index: 1;
    color: #555351;
}

.ola{
    font-size: 2rem;
    font-weight: bold;  
    text-transform: uppercase;  
    max-width: 100%;

}
.facul{
    display: flex;
    align-items: center;
    max-width: 60%;
    color: #847F7C;
    
}
.bolinha{
    width: 21rem;
    height: 21rem;
    border-radius: 50%;
    background: #FCF4F6;
    box-shadow: -10px -10px 4px #FFC7D6, 10px 10px 4px #92A3FF;
    z-index: -1;
    position: absolute;
    max-width: 100%;
}
@media screen and (max-width: 1200px){
    .bolinha{
        width: 15rem;
        height: 15rem;
        max-width: 100%;
        max-height: 50%;
    } .ola{
        font-size: 1.5rem;
        text-align: center;
    } .facul{
        max-width: 50%;    
        font-size: 12px;
        text-align: center;
        
    } .girl{
        max-width: 70%;
        align-content: center;
        
    } .head{
        background-size: 200% 100%;
        justify-content: center;
        gap: 5rem;
        align-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    } .bolinha1, .bolinha2{
        display: none;

    } .apresentar{
        padding: 1rem;
        z-index: 1;
        color: #555351;

    } .sobre{
        padding: 2rem !important;

    } .title{
        font-size: 20px !important;

    } .descri{
        font-size: 15px !important;
    } .divProjetos{
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 1rem;
    } .projeto{
        display: flex;
        margin: 10px !important;
        padding: 1rem !important;
        gap: 0px !important;
        z-index: 1;
        border-radius: 20px;
        box-shadow: -3px -3px 3px #FFC7D6, 3px 3px 3px #92A3FF;
    } 
    .iconsSocial{
        width: 50% !important;
    } .imgProject1{
        border-radius: 10px;
        z-index: 1;
        max-width: 10rem ;
        align-content: center;
    }
    .imgProject2{
        position: relative;
        border-radius: 10px;
        z-index: 0;
        max-width: 10rem ;
        left: -80px !important;



    } .imgProject3{
        border-radius: 10px;
        z-index: 1;
        width: 90%;
        height: 80%;
        padding: -800px;
    
    }
    .imgProject4{
        position: relative;
        border-radius: 10px;
        z-index: 0;
        max-width: 10rem ;
        left: -80px !important;
    }
    .imgProject5{
        border-radius: 10px;
        z-index: 1;
        max-width: 10rem ;;
        padding: -800px;
    
    }
    .imgProject6{
        position: relative;
        border-radius: 10px;
        z-index: 0;
        max-width: 10rem;
        left: -80px !important;
    }
    .imgProject7{
        border-radius: 10px;
        z-index: 1;
        max-width: 10rem ;
        padding: -800px;
    
    }
    .imgProject8{
        position: relative;
        border-radius: 10px;
        z-index: 0;
        max-width: 10rem ;
        left: -80px !important;
    }
    .imgProject9{
        border-radius: 10px;
        z-index: 1;
        max-width: 10rem ;
        padding: -800px;
    
    }
    .imgProject10{
        position: relative;
        border-radius: 10px;
        z-index: 0;
        max-width: 10rem ;
        left: -50px !important;
    } .txtProjeto{
        max-width: 50%;

    } h2{
        font-size: 20px;
    } 
}
    

.girlBolinhas{
    display: flex;   
}
.girl{
    height: 60%;
    z-index: 3;
   
}
.bolinha1{
    z-index: 1;
    position: absolute;
    width: 18rem;
    height: 18rem;
    background: #E3E7FD;
    filter: blur(3px);
    border-radius: 50%;
    left: 850px;

}
.bolinha2{
    z-index: 2;
    position: absolute;
    width: 247px;
    height: 241px;
    background: rgba(254, 240, 187, 0.7);
    filter: blur(3px);
    border-radius: 50%;
    top: 90px;
    left: 750px;
}
.boxIcon{
    width: 12%;
}
.sobre{
    color: #ffffff;
    text-align: center;
    padding: 3rem 10rem;
}
.title{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
.descri{
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
}
.projeto{
    background-color: #E3E7FD;
    color: #3C3F5C;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1rem 10rem;
    padding: 2rem 6rem;
    gap: 40px;
    z-index: 1;
    border-radius: 20px;
    box-shadow: -3px -3px 3px #FFC7D6, 3px 3px 3px #92A3FF;

}
.txtProjeto{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    max-width: 500px;
}
.btnAcessar{
    background-color: #3C3F5C;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center; 
    transition: 0.6s;  
}
.btnAcessar:hover{
    background-color: #9ea3cf;
    color: #181b38;
    transition: 0.6s;
}
.btnAcessar:active{
    background-color: #9ea3cf;
    color: #181b38;
    transition: 0.6s;
}
.imgProjeto{
    display: flex;
    flex-direction: row;
}
.imgProject1{
    border-radius: 10px;
    z-index: 1;
    width: 90%;
    height: 80%;
    padding: -800px;

}
.imgProject2{
    position: relative;
    border-radius: 10px;
    z-index: 0;
    width: 90%;
    height: 80%;
    left: -100px;
}

.imgProject3{
    border-radius: 10px;
    z-index: 1;
    width: 90%;
    height: 80%;
    padding: -800px;

}
.imgProject4{
    position: relative;
    border-radius: 10px;
    z-index: 0;
    width: 90%;
    height: 80%;
    left: -100px;
}
.imgProject5{
    border-radius: 10px;
    z-index: 1;
    width: 90%;
    height: 80%;
    padding: -800px;

}
.imgProject6{
    position: relative;
    border-radius: 10px;
    z-index: 0;
    width: 90%;
    height: 80%;
    left: -100px;
}
.imgProject7{
    border-radius: 10px;
    z-index: 1;
    width: 90%;
    height: 80%;
    padding: -800px;

}
.imgProject8{
    position: relative;
    border-radius: 10px;
    z-index: 0;
    width: 90%;
    height: 80%;
    left: -100px;
}
.imgProject9{
    border-radius: 10px;
    z-index: 1;
    width: 90%;
    height: 80%;
    padding: -800px;

}
.imgProject10{
    position: relative;
    border-radius: 10px;
    z-index: 0;
    width: 90%;
    height: 80%;
    left: -100px;
}
footer{
    background-color: #525674;
    text-align: center;
    color: #ffffff;
}
.footer{
    
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    padding-bottom: 0px;
}
.iconsSocial{
    width: 70%;
}

